@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 100px;
    --nav-height: 50px;
    --footer-height: 120px;
    --footer-height-m: 100px;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html,
  body {
    height: 100%;
  }
}

#__next {
  height: 100%;
}
