@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 100px;
    --nav-height: 50px;
    --footer-height: 100px;
    --footer-height-m: 65px;
  }
}

#__next {
  height: 100%;
}
